
* {
  box-sizing:border-box;
}
.cover {
  background-image: url("assets/freedom.jpg");
  background-size: cover;
  width:100vw;
  height: 100vh;
  color: hsla(100, 0%, 0%,.9);
  display:table;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-top: 8rem;
}
.cover h1 {
  font-size: 2.5rem;
  text-transform:uppercase;
  line-height:1.58;
  letter-spacing: .2rem;
  padding:0 2rem;
}
.cover p {
  font-family:'Rubik',sans-serif;
  font-size:1.25rem;
  font-style:italic;
  padding-top:6rem;
  
}